<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Test Topic</h5>
          <p class="category">Created using Montserrat Font Family</p>
        </div>
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <app-button-hero></app-button-hero>
              </div>
              <div class="col-md-3">
                <app-button-hero></app-button-hero>
              </div>
              <div class="col-md-3">
                <app-button-hero></app-button-hero>
              </div>
              <div class="col-md-3">
                <app-button-hero></app-button-hero>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <app-input-form></app-input-form>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <data-table></data-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>